body{
    font-family: "Rubik", sans-serif;
}
.header-bottom .header-search {
    margin-top: -43px;
    margin-right: 260px;
}

.customStickyHeader {
    /*background-color: #fff;*/
    padding: 0px;
    height: 60px;
}

.main_menu nav > ul > li {
    margin-right: 10px;
    padding: 0px 0
}

.main_menu nav > ul > li ul.sub_menu {
    list-style: none;
}

.main_menu nav > ul > li > a::before {
    background-color: transparent !important;
}

.main_menu nav > ul > li > a::after {
    /*background: #c7c7c7;*/
}

.main_menu nav > ul > li > a i {
    margin-left: 5px;
    color: #b1b1b1;
    font-size: 15px;
    font-weight: 700;
}

.main_menu nav > ul > li > a {
    letter-spacing: 0.05em;
    font-weight: 700;
    line-height: 1.6;
}

.main_menu nav > ul > li > a:hover {
    border-bottom: 1px dotted #f6740a;
    /*color: #f6740a;*/
}

.customSeparator {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 14px;
}

.customSeparator::after {
    content: "\007C"
}

/*.customSeparator:last-child{display: none;}*/

.off_canvars_overlay.active {
    width: 70%;
    opacity: 0;
}

.Offcanvas_menu_wrapper {
    /*position: absolute;*/
    position: fixed;
    width: 270px;
    z-index: 9999;
    padding-left: 0px !important;
}

.offcanvas_main_menu li {
    list-style: none
}

@media only screen and (max-width: 767px) {
    .customStickyHeader {
        height: 0px;
    }

    .header-bottom .top-cart a span#cartCount {
        color: #000;
    }

    .header-bottom .top-cart #cartCount {
        background: #f6740a !important;
    }
    .slider_section {
        margin-top: 166px;
        margin-bottom: 2px;
    }
    .stayConnected .widgets_container{float: left !important;}
}


nav{
    /*background: #fff;*/
    /*padding: 0 100px;*/
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

nav ul{position: relative}
nav ul li{position: relative; list-style-type: none; float: left;}
nav ul li a{color: #000; font-size: 1.1em; padding: 15px 15px; text-decoration: none; display: flex;justify-content:space-between;}
nav ul li a:hover{ text-decoration: none; }
nav ul li ul{position: absolute; top:50px; left: 0; width: 220px; background: #fff; display: none; z-index: 9999; padding: 0px}
nav ul li ul li{padding: 0px 1px;line-height: 0.1; }
nav ul li:hover > ul{display: block; }
nav ul li ul li{position: relative;width: 100%;}
nav ul li ul li ul{top: 0; left: 215px;}
nav .subCatL1 a{ font-family: "Helvetica Neue",Rubik !important;}
nav .subCatL2{ font-family: "Helvetica Neue",Rubik !important;}


nav .fa-angle-down{font-size: 15px;color: #b1b1b1; font-weight: 800; padding: 3px 0px 3px 6px}

/*nav end*/
/*product section start*/
.s_title_style3 h2{font-family: "Rubik", sans-serif !important;}

.category-description{
    position: absolute;
    bottom: 10%;
    left: 50%;
    background-color: #ffffff;
    color: black;
    width: 60%;
    transform: translate(-50%, -10%);
    text-align: center;
    padding: 10px 0px;
}

.category-description a{
    font-weight: bold;
    font-size: 15px;
}

.category-description a:hover{
    color: white;
}
.category-description:hover{
    cursor: pointer;
    background: black;
    color: white;
    width: 80%;
    transition: 0.5s all ease-in;
}
.category-description:hover a{
    color: red !important;
}



.product_carousel .owl-nav div {
    position: absolute;
    /*top: 26%;*/
    top: 42%;
    transform: translatey(-50%);
    /*font-size: 24px;*/
    font-size: 30px;
    border: 1px solid #ebebeb;
    /*width: 23px;*/
    width: 35px;
    /*height: 26px;*/
    height: 40px;
    line-height: 21px;
    text-align: center;
    transition: 0.3s;
    border-radius: 0;
    padding-top: 5px;
}

.product_carousel:hover .owl-nav div {
    opacity: 1;
    visibility: visible;
}

.product_content h4 {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #0066c0;
    margin-bottom: 13px;
    font-family: Rubik;
}
.product_content_inner .product_name{ padding: 0px}
.product_content h4 a{color: #0066c0 !important;}

.product_tab_btn ul li {
    margin-right: 15px;
}
.product_tab_btn ul li a.active {
    color: #ffffff;
    background-color: #C40316;
    font-weight: 600;
}
.product_tab_btn ul li a {
    font-size: 14px;
    line-height: 25px;
    text-transform: capitalize;
    display: block;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Rubik;
}

.label_product span.label_wishlist {
    top: 15px;
    right: 15px;
    text-transform: capitalize;
    color: #ffffff;
    /* background: #62ab00; */
    font-size: 10px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    border-radius: 50%;
}

.label_product span.label_wishlist a {
    font-size: 20px;
}
.label_product span.label_wishlist:hover{
    background: #ffffff;
    color: red !important;
}

.price_box span.current_price{
    font-size: 16px;
    font-weight: 500;
    color: #c40316;
    font-family: Rubik;
}

.seeAll{
    font-size: 18px;
    line-height: 0;
    display: block;
    padding: 0px 0px 45px 0px;
    border-radius: 5px;
    font-family: Rubik;
}
.product_variant.quantity label {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 14px;
    margin-bottom: 0;
    margin-right: 12px;
}

.product_variant.quantity {
    display: flex !important;
    align-items: center !important;
    margin-bottom: 20px !important;
}
.product_variant.quantity input {
    width: 80px !important;
    border: 1px solid #ebebeb !important;
    background: none !important;
    height: 29px !important;
    padding: 0 12px !important;
    border-radius: 5px !important;
    font-size: 14px;
    text-align: center !important;
    margin: 0px 2px !important;
}
.decrement {
    height: 30px !important;
    line-height: 30px !important;
    padding: 0px 13px !important;
    cursor: pointer;

}
.increment {
    height: 30px !important;
    line-height: 30px !important;
    padding: 0px 13px !important;
    cursor: pointer;
}

.product_details .button {
    background: #c40316 !important;
    box-shadow: none !important;
    color: #ffffff !important;
    display: inline-block !important;
    text-transform: uppercase !important;
    font-size: 13px !important;
    border-radius: 3px !important;
    border: 0;
}




/*product section end*/


/*footer start*/
.footer_widgets {
    background-color: #ffffff;
}

.footer_top {
    padding: 55px 0 56px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    color: #000000;
}

.footer_bottom {
    padding: 30px 0;
    color: #000000;
}

.footer_menu ul li a {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.footer_menu ul li a:hover {
    color: #c40316;
}
.widget_menu ul{padding-left: 0px;}

.footer_social {
    margin-top: 17px;
}
.footer_social ul li {
    display: inline-block;
    margin-right: 5px;
}
.footer_social ul li a {
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: block;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    color: #ffffff;
}

.footer_social ul{padding-left: 0px !important;}

/*footer end*/


/*cart start*/
#dropdown-cart .no-items{text-align: left;}
.mini-products-list .product-image {
    float: left;
    margin-right: 15px;
    display: block;
    width: 64px;
}
.mini-products-list .product-details {
    float: left;
    display: block;
    width: calc(-79px + 100%);
}
.mini-products-list .item .btn-remove {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    font-size: 14px;
    color: #f6740a;
}
.mini-products-list .item .btn-remove .fa-times {
    float: right;
}
#dropdown-cart .product-name {
    margin-bottom: 1px;
    padding-right: 30px;
}
#dropdown-cart .cart-collateral .price {
    color: #727272;
}
#dropdown-cart .summary .price {
    color: #727272;
}
.fontSize14{
    font-size: 14px !important;
    font-weight: 500 !important;
}
/*cart end*/

@media (max-width: 1024px) {
    .nav-search-mb {
        display: inline-block;
        width: 100%;
        padding: 3px 0 20px 10px;
    }
}
@media screen and (max-width: 768px) {
    #shopify-section-header {
        position: fixed;
        top: 0;
        z-index: 999;
    }
}



.account_form button{
    background: #c40316;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    line-height: 21px;
    padding: 5px 20px;
    margin-left: 0px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 15px
}
.account_form .register_submit {
    text-align: center;
}
.account_form .register_submit a{
    background: #36A420;
    height: 40px;
    text-align: center;
    width: 50%;
    /*margin: 10px 0 0 100px;*/
    color: #ffffff !important;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px 20px;
}

.menu-expand .fa-angle-down::before{
    /*content: "\002B";*/
    font-size: 18px;
    font-weight: 800;
}
/* .sticky-header.sticky{background: #000000;}
.sticky-header.sticky .main_menu nav > ul > li > a{ color: #fff;}
.sticky-header.sticky .customSeparator::after{ color: #fff;} */



/* latest correction by Dev. */

/*trending cat start*/

/*trending cat end*/

/*new arrival start*/
.product_tab_btn ul li a:hover {
    color: #ffffff;
    background-color: #C40316;
    font-weight: 600;
}
.product_tab_btn a{
    font-size: 14px;
    line-height: 25px;
    /* text-transform: capitalize; */
    display: block;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.product_tab_btn a:hover{
    color: #ffffff;
    background-color: #C40316;
    font-weight: 600;
}
/*new arrival end*/

/*quick view start*/
.label_product span.label_wishlist {
    top: 15px;
    right: 15px;
    text-transform: capitalize;
    color: #000000;
    font-size: 10px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    border-radius: 50%;
}

.label_product span.label_wishlist a{
    font-size: 20px;
}
.label_product span.label_wishlist a:hover{
    text-decoration: none;
    color: red;
}

.label_product span.label_wishlist:hover{
    background: #ffffff;
    color: red !important;
}

.product_content h4 a {
    color: #909090!important;
    text-transform: uppercase;
    text-decoration: none !important;
}
.product_content h4 a:hover {
    color: #C40316!important;
}
.price_box span.current_price {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    font-family: Rubik;
}
/*quick view end*/


/*new design*/
@media screen and (max-width: 768px) {
    a.account-icon {
        right: 67px !important;
    }
}

@media (max-width: 1024px){
    .header-bottom .top-cart {
        float: right !important;
    }
    .top-wishlist{padding-top: 10px !important;}
    .header-logo{display: block !important; max-width: 70% !important;}

    .header-bottom .top-cart a span.wishlist-count {
        top: -7px !important;
    }
}

/*alert*/
div:where(.swal2-icon).swal2-success [class^=swal2-success-line]{
    background-color: green !important;
}
.custom-timer-class{background-color: green !important;}
.bottom-center-toast {
    position: fixed !important;
    bottom: 10px !important;
}
.swal2-timer-progress-bar {
    background-color: green !important;
}
.red-timer-class .swal2-timer-progress-bar {
    background-color: red !important;
}

.swal2-popup.swal2-toast .swal2-icon.swal2-success .swal2-success-ring{border-color: green;}


/*product details*/

#sizeColorSelectError span{font-size: 12px !important;}

.product_arrow .button{
    margin-left: 0px;
    background-color: #282828 !important;
    width: 80%;
    font-size: 18px !important;
    font-weight: 700;
}
.product_arrow .button:hover{
    margin-left: 0px;
    background-color: #d41f27 !important;
}
.product_arrow .wishlist{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: block;
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dotted #a7a7a7;
    color: #4d4d4d;
    margin-left: 40px;
}
.product_arrow .wishlist:hover{
    background: #d41f27;
    color: #ffff !important;
}
.product_arrow .wishlist:hover i{
    color: #ffff !important;
}
.no-stock a.product_details_nav_link {
    background: #d41f27;
    color: #fff!important;
}
.product_d_right .size .product_details_nav .product_details_nav_item a.product_details_nav_link.active{
    background: #4d4d4d;
    color: #fff;
}
.product_d_right .size .product_details_nav .product_details_nav_item .product_details_nav_link{
    border: 1px solid #f1f1f1;
    margin-right: 10px;
    margin-bottom: 15px;
    font-size: 13px;
    color: #4d4d4d;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
}
.product_d_right .size .product_details_nav .product_details_nav_item{
    position: relative;
    cursor: pointer;
}
.product_d_right .size .product_details_nav{
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.product_d_right .size {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0px;
    border-top: 1px dashed #e5e5e5;
    padding-top: 10px;
}
.product_d_right .size label{
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Inter',sans-serif;
}
.product_d_right .size span {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Inter',sans-serif;
}
.product_d_right .price_box .current_price {
    /* text-transform: uppercase; */
    /* line-height: 20px; */
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 22px;
    font-family: 'Inter',sans-serif;
    word-break: break-word;
}
.product_d_right h3 {
    text-transform: uppercase;
    line-height: 20px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 22px;
    font-family: 'Inter',sans-serif;
    word-break: break-word;
}
.product_d_right h3 a:hover {
    color:#000000;
}

/*product details page */
.productDetailsPage {padding: 0px 0 75px !important;}
.product-details-tab {
    margin-bottom: 5px !important;
}
@media screen and (max-width: 768px) {
    .productDetailsPage {
        padding: 60px 0 75px !important;
    }

    .accordion-item{margin-left: -10px !important;}
    .accordion-header button.accordion-button{height: 40px !important;}
    .product_details .button {height: 42px !important; font-size: 13px;}
    .product_arrow .wishlist{height: 45px !important;}
    .product_d_right .price_box span.current_price {font-size: 14px !important;}
    .product_d_right h3{margin-bottom: 7px !important;}
    .product_d_right .size{margin-top: 7px !important; padding-top: 7px !important;}
    .product_d_right .size span{font-size: 13px !important;}
    .product_d_right .size label {font-size: 13px !important;}



}

.mega_menu_inner {
    flex-direction: column;
  }
@media only screen and (min-width: 992px) {
    .categories_menu_toggle > ul > li ul.categories_mega_menu {
        display: flex;
        border: 1px solid #c40316;
    }
  }

